<div class="kirb-card">
    <h3 class="kirb-text">Do be a card</h3>
    <img src="/images/template.png" alt="card-template" class="template">
    <img class="kirb" src="/images/kirbknife.png" alt="kirb">
    <h4 class="kirb-text">This is kirb :)</h4>
</div>